# Connection to the SenLib MySQL database
SENOTYPE_DB_USER='user'
SENOTYPE_DB_PWD='pwd'
SENOTYPE_DB_NAME='db'
SENOTYPE_DB_HOST='host'

# Flask secret key
KEY='x'
# Globus keys
GLOBUS_SENNET_CLIENT='x'
GLOBUS_SENNET_SECRET='x'

# Sennet base URLs
# uuid-api
UUID_BASE_URL='https://uuid-api.dev.sennetconsortium.org/uuid'
# entity-api
ENTITY_BASE_URL='https://entity.api.sennetconsortium.org/entities/'
# ubkg-api
UBKG_BASE_URL='https://ontology.api.hubmapconsortium.org'
# Data Portal Organs page
ORGANS_BASE_URL='https://data.sennetconsortium.org/organs/'
# Data Portal dataset
DATASET_BASE_URL='https://data.sennetconsortium.org/dataset'

# External base URLs
# DataCite
DATACITE_API_BASE_URL='https://api.datacite.org/dois/'
DATACITE_DOI_BASE_URL='https://doi.org/'
DATACITE_HEARTBEAT_URL='https://api.datacite.org/heartbeat'
# NCBI EUtils
EUTILS_BASE_URL='https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=pubmed&retmode=json&id='
# SciCrunch Resolver
SCICRUNCH_BASE_URL='https://scicrunch.org/resolver/'
# PURL
IRI_BASE_URL='http://purl.obolibrary.org/obo/'

