
footer 
  border-top solid 1px $col-footer-bg
  background-color $col-dirty-white
  a 
   color var(--bs-gray-600);
   &:hover 
    color black 
    text-decoration underline
  > div 
    display flex
    min-height 150px
    justify-content center
    align-items center