
footer 
  border-top solid 1px $col-footer-bg
  background-color $col-dirty-white
  min-height 150px
  width 100%
  &__wrap 
    display flex
    justify-content center
    align-items center
  a 
   color var(--bs-gray-600);
   &:hover 
    color black 
    text-decoration underline
    