name: senotype-editor

services:
  senotype-editor:
    hostname: senotype-editor
    container_name: senotype-editor
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
      args:
        - HOST_GID=${HOST_GID:-1002}
        - HOST_UID=${HOST_UID:-1002}
    init: true
    restart: always
    platform: linux/amd64
    image: sennet/senotype-editor:${SENOTYPE_EDITOR_VERSION:?err}
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:5010"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    ports:
      - "5010:5010"
    volumes:
      - ../app/instance/app.cfg:/usr/src/app/app.cfg
      - ../log:/usr/src/app/log
