{% extends 'base.html' %}

{% block content %}

<title>Unauthorized (401)</title>
<br>
<div class="container text-left">
    <h1>Unauthorized</h1>
    <p><br><br></p>
    <div>
        <img src="/static/401.png" alt="Unauthorized" data-height="300" style="max-height: 168px;">
    </div>
    <br>
    <br>
    <p>This application requires that the user have a Globus account associated with the SenNet consortium.</p>
    <p>Please contact the SenNet Help Desk at <a href="mailto:help@sennetconsortium.org" style="color: #3366ff;">help@sennetconsortium.org</a>.</p>

</div>

{% endblock %}