{% extends 'base.html' %}

{% block content %}

<title>Forbidden (403)</title>
<br>
<div class="container text-left">
    <h1>None Shall Pass</h1>
    <p><br><br></p>
    <div>
        <img src="/static/403.png" alt="Not found" data-height="300" style="max-height: 168px;">
        <br>
        <br>
        <p>{{ error }}</p>
        <p>Please contact the SenNet Help Desk at <a href="mailto:help@sennetconsortium.org" style="color: #3366ff;">help@sennetconsortium.org</a>.</p>
    </div>
    <br>
</div>

{% endblock %}