{% extends 'base.html' %}

{% set page_title = "Forbidden (403)" %}

{% block content %}

<div class="container statusMsg">
    <h1>Not Authorized</h1>
    <div>
        <img src="/static/403.png" alt="Not found" data-height="300" style="max-height: 168px;">
        <br>
        <br>
        <p>{{ error }}</p>
        <p>Please contact the SenNet Help Desk at <a href="mailto:help@sennetconsortium.org" style="color: #3366ff;">help@sennetconsortium.org</a> to request to be a member of the SenNet Edit group.</p>
    </div>
</div>

{% endblock %}