{% extends 'base.html' %}

{% set page_title = "Forbidden (403)" %}

{% block content %}

<div class="container statusMsg">
    <h1>Not Authorized</h1>
    <div>
        <img src="/static/403.png" alt="Not found" data-height="300" style="max-height: 168px;">
        <br>
        <br>
        <p>{{ error }}</p>
        <br>
        <p>Contact the SenNet Help Desk at <a href="mailto:help@sennetconsortium.org" style="color: #3366ff;">help@sennetconsortium.org</a> to request to be a member of the <strong><i>Senotype Edit</i></strong> group.</p>
        <br>
        <p>If you have requested to be a member of the <strong><i>Senotype Edit</i></strong> group, visit <a href="https://app.globus.org/groups">your Globus groups page</a> to check for an invitation to the Globus group.</p>
    </div>
</div>

{% endblock %}