<!-- Renders the "explore" button that links to a search page in an external site -->
{% from "_explore_button_macro.html" import explore_button %}

{# Jinja macro for an external API search modal #}
{% macro search_modal(modal_id, modal_label, modal_help, input_id, explore_url, explore_text, results_id, placeholder='Enter query...') %}
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_label }}Label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <h5 class="modal-title" id="{{ modal_label }}Label">{{ modal_label }}</h5>
                    <h6 class="modal-help" id="{{ modal_help }}Label">{{ modal_help }}</h6>
                    <a href="https://sennetconsortium.github.io/senotype_editor/#external-assertions"
                       target="_blank"
                       rel="noopener">
                        Details
                    </a>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-2">
                    <input type="text" id="{{ input_id }}" class="form-control" placeholder="{{ placeholder }}">
                    <!--Add explore button to external site-->
                    {{ explore_button(modal_id ~ '_explore', explore_url, explore_text) }}
                    <!--<a class="btn btn-sm btn-outline-primary ms-2 mb-2"
                        style="width: 2.5em;"
                        href="{{ explore_url }}"
                        target="_blank"
                        title="{{ explore_text }}"
                        aria-label="{{ explore_text }}">
                        🔍
                    </a>-->
                </div>
                <div id="{{ results_id }}" class="mt-3">
                    <!-- Search results from API appear here -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}